<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>clvrfst admin</title>
		<link rel="stylesheet" href="style.css"/>
		<meta name="date-created" value="Fri Apr 11 22:05:09 EDT 2008"/>
	</head>
	<body>
		<div id="wrap">
			<div id="head">
				<img src="img/head.png"/>
				<ul id="nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Options</a></li>
				</ul>
				<div class="clr"></div>
			</div>
			<div id="content">
				<ul id="forums">
					<li>
						
					</li>
				</ul>
			</div>
			<div id="footer">
				
			</div>
		</div>
	</body>
</html>