/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}code{font-family:monospace}em{font-style:italic}strong{font-weight:700}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}fieldset,img,abbr,acronym{border:0}
/* END RESET */
body{background:#222;color:#fafafa;text-shadow:#000 0 0 0;font:1em Helvetica,Arial,sans-serif;}
a{text-decoration:none;}
a:link,a:active,a:visited{color:#009bf9;}
a:hover{color:#00FA4F;}
#wrap{width:600px;margin:20px auto;}
#head{margin:0 0 10px 0;}
#head h1,#head h2{font-weight:bold;display:inline;}
#head h1{font-size:2em;}
#head h2{font-size:.9em;color:#aaa;}
#content{margin:0 0 10px 0;}
h3{font-size:1.5em;font-weight:bold;}
#form h3{clear:both;}
ol{margin:5px 0 20px 0;}
ol li{clear:both;padding:5px 0 0 0;}
label{display:block;font-size:.9em;padding:2px;}
input,select{padding:5px;font-size:1.1em;font-family:Helvetica,Arial,sans-serif;border:#000 5px solid;}
select{font-size:1em;}
fieldset{border:#ccc 1px solid;padding:10px;}
legend{padding:3px;}
#submit{display:block;margin:10px auto;border-color:#333;background:#fff;}
.clr{clear:both;}
#footer{color:#ccc;}
form div{padding:10px;color:#eee;margin:10px 0;border:#000 10px solid;font-weight:bold;}
#site{background:#6ECA31;border-color:#47BA23;}
#site input{border-color:#47BA23;}
#db{background:#3087C9;border-color:#2471B9;}
#db input{border-color:#2471b9;}
#admin{background:#C9304A;border-color:#B9243D;}
#admin input,#admin select{border-color:#b9243d;}