/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}code{font-family:monospace}em{font-style:italic}strong{font-weight:700}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}fieldset,img,abbr,acronym{border:0}
/* END RESET */
a{text-decoration:none;}
a:link,a:active,a:visited{color:#6cad40;}
body{color:#111;font: 1em Helvetica,Arial,sans-serif;text-shadow:#000 0 0 0;}
.clr{clear:both;}
#wrap{width:700px;margin:8px 0 8px 15px;}
#head{background:#333;color:#fff;padding:8px 0 8px 15px;}
#head h1{float:left;}
#nav{float:right;padding-right:10;}
#nav li{display:inline;}
#nav li a{text-transform:lowercase;padding:6px 6px 8px 6px;}
#nav li a:link,#nav li a:active,#nav li a:visited{color:#8cda58;}
#nav li.current a{background:#fff;color:#222;border-right:#000 1px solid;}