/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}code{font-family:monospace}em{font-style:italic}strong{font-weight:700}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}fieldset,img,abbr,acronym{border:0}
/* END RESET */
body{background:#1A110F;font:1em Helvetica,Arial,san-serif;color:#fff;text-shadow:#000 0 0 0;margin:20px 0;}
p{margin:10px 0;}
a{text-decoration:none;}
a:link,a:active,a:visited{color:#C2F773;}
a:hover{color:#fff;}
p{margin:10px 0;}
h3{font-size:1.5em;}
#wrap{width:900px;margin:0 auto;}
#head #title{font-size:1.3em;}
#head h1,#head h2{display:inline;}
#head h1{font-weight:900;font-size:3em;}
#head h2{font-size:1.5em;color:#444;}
#content{margin:10px 0;}
.head{border:0;margin:0 0 10px 0;background:0;font-size:1.3em;}
#side{width:250px;float:left;}
#side ul{padding:10px;font-size:1.1em;font-weight:bold;}
#side ul li{padding:5px 0;}
#side ul li a{color:#73E1F7;}
#side ul li a:hover{color:#fff;}
#main{width:640px;float:right;}
ol.posts{padding:10px;}
ol.posts li{margin:0 0 10px 0;}
ol.posts li h4{background:#C2F773;color:#637E48;padding:2px 0 2px 5px;text-transform:lowercase;font-size:.9em;}
ol.posts li h5{background:#42312C;padding:5px;}
ol#forums li h3 .numposts{letter-spacing:-2px;color:#666;float:right;padding:4px 8px 4px 4px;margin:-4px -4px 0 0;text-transform:uppercase;}
ol#forums li h3{padding:10px;background:#291E1B;}
ol#forums li.alt h3{background:#312421;}
ol#posts li{margin:0 0 10px 0;border:0;}
ol#posts li h4{padding:10px;text-transform:lowercase;font-size:1.3em;}
.clr{clear:both;}
.message,.error{padding:10px;font-size:2em;color:#fff;}
.message{background:#000;}
.error{background:red;}
.v{margin:10px 0;color:#888;}